<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boot.data.mapper.BoardSearchMapperInter">
    <!-- 검색 기능을 추가한 쿼리 -->
    <select id="searchTitle" parameterType="string" resultType="User_BoardDto">
        SELECT * FROM user_board
        WHERE board_title LIKE CONCAT('%', #{searchword}, '%')
    </select>
    <select id="getAllSearch" resultType="User_BoardDto">
        select * from user_board order by board_writeday desc
    </select>
    <select id="getSort" resultType="User_BoardDto" parameterType="String">
        select * from user_board
        <if test='orderby!=null'>
            <choose>
                <when test="orderby == 'recent'">
                    order by board_writeday desc
                </when>
                <when test="orderby == 'likes'">
                    order by board_like desc
                </when>
                <when test="orderby == 'readcnt'">
                    order by board_readcnt desc
                </when>
            </choose>
        </if>
    </select>
</mapper>