<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boot.data.mapper.BoardSearchMapperInter">
    <!-- 검색 기능을 추가한 쿼리 -->
    <select id="getAllSearch" resultType="User_BoardDto">
        select * from user_board order by board_writeday desc
    </select>
    <select id="searchTitle" parameterType="string" resultType="User_BoardDto">
        SELECT * FROM user_board
        WHERE board_title LIKE CONCAT('%', #{searchword}, '%') or board_story LIKE CONCAT('%', #{searchword}, '%')
    </select>
    <select id="getSort" resultType="User_BoardDto" parameterType="Map">
        select * from user_board WHERE board_title LIKE CONCAT('%', #{searchword}, '%') or board_story LIKE CONCAT('%', #{searchword}, '%')
        <if test="orderby != null">
            order by
            <choose>
                <when test="orderby == 'recent'">board_writeday desc</when>
                <when test="orderby == 'likes'">board_like desc</when>
                <when test="orderby == 'readcnt'">board_readcnt desc</when>
            </choose>
        </if>
    </select>
</mapper>