<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.data.mapper.CnoticeMapperInter">

	<!-- 인서트 -->
	<insert id="insertNotice" parameterType="CnoticeDto">
		insert into cnotice
		(company_num,cnotice_image,cnotice_career,cnotice_skill,cnotice_noticename,cnotice_companyname,cnotice_grade,cnotice_congratulate,
		cnotice_industry1,cnotice_industry2,cnotice_location,cnotice_type,cnotice_academy,cnotice_deadline,cnotice_writeday,cnotice_recommend,cnotice_readcount,cnotice_pay)

		values(#{company_num},#{cnotice_image},#{cnotice_career},#{cnotice_skill},#{cnotice_noticename},#{cnotice_companyname},#{cnotice_grade},#{cnotice_congratulate},
		#{cnotice_industry1},#{cnotice_industry2},#{cnotice_location},#{cnotice_type},#{cnotice_academy},#{cnotice_deadline},now(),#{cnotice_recommend},#{cnotice_readcount},#{cnotice_pay})
	</insert>
	<!-- 디테일페이지 or 수정 -->
	<select id="getNoticeData" parameterType="int"
		resultType="CnoticeDto">
		select * from cnotice where cnotice_num=#{cnotice_num}
	</select>
	<!-- 조회수순 리스트정렬 -->
	<select id="readCountList" resultType="CnoticeDto">
		select * from cnotice
		order by
		cnotice_readcount desc

	</select>
	<insert id="insertDetail" parameterType="Company_DetailDto">
		insert into
		company_detail
		(cnotice_num,company_num,cdetail_introduce,cdetail_work,cdetail_qualify,
		cdetail_treat,cdetail_procedure,cdetail_welfare,cdetail_etc)
		values(#{cnotice_num},#{company_num},#{cdetail_introduce},#{cdetail_work},#{cdetail_qualify},#{cdetail_treat},#{cdetail_procedure},#{cdetail_welfare},#{cdetail_etc})
	</insert>
	<select id="getDetailData" parameterType="Map"
		resultType="Company_DetailDto">
		select * from company_detail where
		cnotice_num=#{cnotice_num} and company_num=#{company_num}
	</select>

	<!-- num의 max값,null일 경우 0 -->
	<select id="getMaxNum" resultType="int">
		SELECT
		IFNULL(MAX(cnotice_num), 0) FROM cnotice;
	</select>

	<!-- 리스트 세부분류+정렬 -->
	<select id="testList" resultType="CnoticeDto">
		select * from cnotice

		<!-- 세부분류 -->
		<if test='industry!=null or career!=null or location!=null or (gradeLeft!=null and gradeRight!=null) or type!=null or academy!=null'>
			where
			<!-- 직종 -->
			<if test='industry!=null'>
				cnotice_industry2 in
				<foreach collection="industry" item="item" open="("
					close=")" separator=",">
					#{item}
				</foreach>
			</if>

			<if test='industry!=null and career!=null'>
				and
			</if>
			<!-- 경력 -->
			<if test='career!=null'>
				cnotice_career in
				<foreach collection="career" item="item2" open="(" close=")"
					separator=",">
					#{item2}
				</foreach>
			</if>

			<if test='(career!=null and location!=null) or (industry!=null and location!=null)'>
				and
			</if>
			<!-- 지역 -->
			<if test='location!=null'>
				<foreach collection="location" item="item3" open="("
					close=")" separator="or">
					cnotice_location like concat ('%',
					#{item3},
					'%')
				</foreach>
			</if>

			<if test='location!=null and (gradeLeft!=null and gradeRight!=null) or career!=null and (gradeLeft!=null and gradeRight!=null) or industry!=null and (gradeLeft!=null and gradeRight!=null)'>
				and
			</if>

			<!-- 평점 -->
			<if test='(gradeLeft!=null and gradeRight!=null)'>
				cnotice_grade between #{gradeLeft} and #{gradeRight}
			</if>

			<if
				test="(gradeLeft!=null and gradeRight!=null) and type!=null or location!=null and type!=null or career!=null and type!=null or industry!=null and type!=null">
				and
			</if>
			<!-- 고용형태 -->
			<if test='type!=null'>
				cnotice_type in
				<foreach collection="type" item="item4" open="(" close=")"
					separator=",">
					#{item4}
				</foreach>
			</if>

			<if test="(type!=null and academy!=null) or (gradeLeft!=null and gradeRight!=null) and academy!=null or (location!=null and academy!=null) or (career!=null and academy!=null) or (industry!=null and academy!=null)">
				and
			</if>
			<!-- 학력 -->
			<if test='academy!=null'>
				cnotice_academy in
				<foreach collection="academy" item="item5" open="("
					close=")" separator=",">
					#{item5}
				</foreach>
			</if>

		</if>
		<!-- 정렬 -->
		<if test='orderBy!=null'>
			<!-- 작성일순 -->
			<if test="orderBy == 'writeday'">
				order by cnotice_writeday desc
			</if>
			<!-- 마감일순 -->
			<if test="orderBy == 'deadline'">
				order by cnotice_deadline asc
			</if>
			<!-- 조회수순 -->
			<if test="orderBy == 'readcount'">
				order by cnotice_readcount desc
			</if>
			<!-- 추천순 -->
			<if test="orderBy == 'recommend'">
				order by cnotice_recommend desc
			</if>
			<!-- 축하금순 -->
			<if test="orderBy == 'congratulate'">
				order by cnotice_congratulate desc
			</if>
		</if>
	</select>
</mapper>