<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boot.data.mapper.EmailMapperInter">
    <!--user_num에 해당하는 사람의 데이터 뽑는 쿼리-->
    <select id="getUserByDto" resultType="User_ApplyDto" parameterType="int">
        select * from user_apply where user_num = #{user_num}
    </select>
    <!--전체 회사 공고 뽑기.-->
    <select id="getCompanyNotice" resultType="CnoticeDto">
        select * from cnotice
    </select>

    <!--user_num에 해당하는 데이터랑 전체 회사 공고 중에서 맞는 조건을 비교하는 쿼리-->
    <select id="getMatchUserwithNotice" resultType="CnoticeDto">
        SELECT *
        FROM cnotice cn
        WHERE EXISTS (
        SELECT *
        FROM user_apply ua
        WHERE ua.apply_secondary = cn.cnotice_job
        AND ua.apply_newcomer = cn.cnotice_career
        AND ua.apply_region = cn.cnotice_area
        AND ua.apply_salary &lt;= cn.cnotice_pay
        );
    </select>

</mapper>